<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 관리자페이지</title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="manager/fragment/managerTemplate :: manager_template(~{::main}, ${teamId})">
    <main>
        <section>
            <div class=" mt-3 p-3 bg-dark text-light">
                <h4 class="mb-2">팀관리</h4>
                <hr/>
                <form th:action="@{/@teams/} + ${teamId} + @{/edit}" method="post" th:object="${teamForm}" style="margin: 0 auto">
                    <div class="mb-3">
                        <label for="name">팀명</label>
                        <input type="text" id="name" th:field="*{name}" placeholder="Team name">
                        <div th:error="*{name}"/>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="name" class="form-label d-block">소개말</label>
                        <textarea style="min-height : 250px; width: 100%; max-width: 600px;" th:field="*{introduction}"></textarea>
                        <div th:error="*{introduction}"/>
                    </div>

                    <button type="submit">변경</button>
                    <button type="button" class=" me-1 ms-1" id="delete-team-bt">해체</button>
                </form>
            </div>
            
            <hr/>
            <div class=" mt-3 p-3 bg-dark text-light">
                <h4 class="mb-2">가입신청현황</h4>
                <canvas id="statChart" style="width: 100%;" height="400"></canvas>
            </div>
            <!--  삭제Modal  -->
            <div th:replace="manager/modal/deleteTeamModal :: delete_team(${team})"></div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:inline="javascript">


            const dtb = document.getElementById('delete-team-modal');
                if(dtb){
                    let deleteTeamModal = new bootstrap.Modal(dtb, {
                        keyboard: false
                    });
                    document.getElementById('delete-team-bt').addEventListener("click", ()=>{
                        deleteTeamModal.show();
                    });        
                }
            const current = moment().format("yyyy-MM");
            const currentm1 = moment().subtract(1,'months').format("yyyy-MM");
            const currentm2 = moment().subtract(2,'months').format("yyyy-MM");
            const currentm3 = moment().subtract(3,'months').format("yyyy-MM");
            const currentm4 = moment().subtract(4,'months').format("yyyy-MM");
            const currentm5 = moment().subtract(5,'months').format("yyyy-MM");
        
            const data = [[${statDate}]];

            const _data = {   
                [currentm5] : data[currentm5] ? data[currentm5] : 0,
                [currentm4] : data[currentm4] ? data[currentm4] : 0,
                [currentm3] : data[currentm3] ? data[currentm3] : 0,
                [currentm2] : data[currentm2] ? data[currentm2] : 0,
                [currentm1] : data[currentm1] ? data[currentm1] : 0, 
                [current] : data[current] ? data[current] : 0,
            }

            const ctx = document.getElementById('statChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Object.keys(_data),
                    datasets: [{
                        label: '가입신청수',
                        data: Object.values(_data),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max : Math.max(...Object.values(_data)) > 0 ?  Math.max(...Object.values(_data))* 2 : 2
                        }
                    }
                }
            });
        </script>
    </main>
</body>
</html>