<html xmlns:th="http://www.thymeleaf.org">

<div class="modal modal-dialog modal-xl fade " th:fragment="detail_board(text)" id="detail-board-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="join_members_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color : #000">
            <div class="modal-header">
                <h5 class="modal-title" id="join_members_label">게시글 상세보기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:utext="${text}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</html>