
<html xmlns:th="http://www.thymeleaf.org">
<div class="modal modal-dialog modal-xl fade " th:fragment="edit_project_modal(project)" th:id="'edit_project_modal'+${project.projectId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="join_members_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color : #000">
            <div class="modal-header">
                <h5 class="modal-title" id="project_edit_title">프로젝트 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/@teams/}+${teamId}+@{/projects/}+${project.projectId}+@{/edit}" method="post" th:object="${project}">
                    <div class="mb-3">
                        <label for="title" class="form-label">프로젝트명</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="*{projectTitle}" placeholder="Team name">
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="introduction" th:value="*{projectIntroduction}" th:text="*{projectIntroduction}" id="introduction"></textarea>
                        <label for="introduction">프로젝트 설명</label>
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">시작일</label>
                        <input type="datetime-local" id="startDate" name="startDate" th:value="*{projectStartDate}" class="form-control" />
                        <label for="startDate" class="form-label mt-1">종료일</label>
                        <input type="datetime-local" id="endDate" name="endDate" th:value="*{projectEndDate}" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">프로젝트 수정</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</html>