<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="container-fluid py-5" th:fragment="bottom" style="background-color: #222222;">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md">
            <a class="logo py-2" href="#" aria-label="Logo" style="font-size : 18px; color : #fff">Cob</a>
            <small class="d-block mb-3 text-muted">&copy; 2022.01~</small>
        </div>
        <div class="col-4 col-md">
            <span class="title">목록</span>
            <ul class="list-unstyled text-small col-md">
                <li><a href="#">홈</a></li>
                <li><a href="#">팀</a></li>         
                <li><a href="#">게시글</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <span class="title">자원</span>
            <ul class="list-unstyled text-small col-md">
                <li><a href="https://blog.naver.com/bdgom73">블로그</a></li>
                <li><a href="https://github.com/bdgom73">깃허브</a></li>         
                <li><a href="mailto:bdgom73@naver.com">피드백</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <span class="title">사이트</span>
            <ul class="list-unstyled text-small col-md">
                <li><a href="http://kijintroduce.herokuapp.com/">포트폴리오</a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>

</html>