<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="top" class="header site-header sticky-top py-1">
    <nav class="container-fluid d-flex flex-column flex-md-row justify-content-between">
        <a class="logo py-2" href="#" aria-label="Logo">Cob</a>
        <div class="header_path py-2 d-none d-md-flex">
            <a class="me-3 d-none d-md-inline-block" href="#">로그인</a>
            <a class="d-none d-md-inline-block" href="#">가입</a>
        </div>
    </nav>
</header>
</html>