/**********************Collonse***********************/
@font-face {
    font-family: "Collonse";
    src : url("/assets/font/collonse/Collonse Bold.ttf");
}
@font-face {
    font-family: "Collonse";
    src : url("/assets/font/collonse/Collonse Hollow.ttf");
}
@font-face {
    font-family: "Collonse";
    src : url("/assets/font/collonse/Collonse.ttf");
}
/******************************************************/