@import "./font.css";

a.logo{
    text-decoration: none;
}
.logo{
    font-family: "Collonse";
    font-size: 30px;
    color : #222222;
    font-weight: bold;
}
.header{
    background-color: #fff;
}
.header .header_path{
    display: flex;
    align-items: center;
}
.header .header_path a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
}
.main_bg{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_bg::before{
    content: "";
    background-image: url("/assets/images/home_bg.jpg");
    background-size: cover 100%;
    opacity: 0.33; 
    filter: alpha(opacity=33); /* IE8 및 그 이하 버전용 */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: scale(1.5) rotate(-30deg);
}

.main_bg .main_body{
    color: #000;
    position: relative;
}

.main_card{
    padding: 1rem;
    padding: 10rem 0;
}

footer a{
    text-decoration: none;
}
footer .title{
    color : #a09fff;
}
footer ul li a{
    color : #fff;
}

main{
    min-height : 100vh
}
.field-error{
    color: #ec2f2f;
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.danger-span{
    color : #ec2f2f;
}
.error_fs{
    font-size : 12px;
}
.tingle-modal--visible{
 z-index : 2000
}


