<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title th:text="|Cob - ${team.name}|">Cob - </title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="~{common/team/teamTemplate :: team_template(~{::main}, ${teamId})}">
<main>
    <section>
        <div class="col-md-auto mt-3" th:object="${team}" >
            <div style="font-size: 25px;" class="fw-bold">
                <th:block th:text="*{name}"></th:block>
            </div>
            <hr/> 
            <div class="mb-3 text-muted" style="font-size: 16px;">      
                팀장 : <i class="bi bi-person-check-fill"></i> <span th:text="*{leaderNickname}"></span>         
            </div>   
            <div class="p-3 mb-5  ">
                <div class="mb-2" style="border-bottom:1px solid #bbbbbb; padding-bottom: 5px;"><i class="bi bi-pencil-square"></i> 소개말</div>
                <p style="margin: 0;" th:utext="${#strings.replace(team.introduction,nlString, '&lt;br /&gt;')}"></p>
            </div>    
            <div class="text-muted text-center">
                <span>CreateDate. </span>
                <span th:text="${#temporals.format(team.createDate,'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <div th:if="${loginMember.memberId == team.leaderId}" style="text-align : right">
                <button type="button" class="btn btn-light border me-1" th:onclick="'location.href=\''+ @{/teams/} + ${team.teamId} + @{/edit} + '\''">수정</button>
                <button type="button" class="btn btn-danger" id="delete-team-bt">해체</button>
            </div>
        </div>
    </section>
     <!--  삭제Modal  -->
    <div th:replace="team/modal/deleteTeamModal :: delete_team(${team})" style="color : #222222"></div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",()=>{   
            let resultMsg = '[(${resultMsg})]';
            
            if(resultMsg){
                let resultMsgModal = new tingle.modal();
                resultMsgModal.setContent(`<span class="text-danger text-center fw-bold">${resultMsg}</span>`);
                resultMsgModal.open();
            }
        });
        const dtb = document.getElementById('delete-team-modal');
        if(dtb){
            let deleteTeamModal = new bootstrap.Modal(dtb, {
                keyboard: false,
            });
            document.getElementById('delete-team-bt').addEventListener("click", ()=>{
                deleteTeamModal.show();
            });        
        }
    </script>
</main>
</body>
</html>