<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title th:text="|Cob - ${team.name}|">Cob - </title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="~{common/team/teamTemplate :: team_template(~{::main}, ${team.teamId})}">
<main>
    <section>
        <div class="col-md-auto p-3 "> 
            <h3>팀원</h3>
            <hr/>
            <table class="table" th:object="${joinTeams}" >        
                <tr>
                    <th>팀원명</th>
                    <th>상태</th>
                    <th>
                        <th:block>가입일</th:block>
                    </th>
                </tr>
                <tr th:each=" member : ${joinTeams}" >
                    <td th:if="${member.memberId == team.leaderId}">
                        <span class="badge bg-primary">팀장</span>
                        <th:block th:text="${member.memberNickname}"></th:block>
                    </td>
                    <td th:unless="${member.memberId == team.leaderId}">
                        <th:block th:text="${member.memberNickname}"></th:block>
                    </td>
                    <td th:text="${member.joinState.getState()}"></td>
                    <td th:text="${#temporals.format(member.joinDate,'yyyy-MM-dd HH시 mm분')}"></td> 
                </tr>

            </table>
        </div>

    </section>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",()=>{   
            let resultMsg = '[(${resultMsg})]';
            
            if(resultMsg){
                let resultMsgModal = new tingle.modal();
                resultMsgModal.setContent(`<span class="text-danger text-center fw-bold">${resultMsg}</span>`);
                resultMsgModal.open();
            }
        });
    </script>
</main>
</body>
</html>