<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="manager_header(team)" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 logo" th:href="@{/teams/} +${team.teamId}" style="font-size:15px">
        <th:block th:text="${team.name}"></th:block>
        <span class="d-block" style="font-size: 10px;">관리자페이지</span>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#managerSide" aria-controls="managerSide" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap" th:unless="${loginMember} == null" th:object="${loginMember}">
            <div class="header_path p-2 d-none d-md-flex">
                <span class="me-3" style="font-size : 12px;color : #fff ">
                    <span style="color : #fff" href="#" th:text="*{nickname}"></span>님
                </span>
                <a style="color : #fff" class="d-none d-md-inline-block" href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
</header>
</html>