<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="manager_sidebar(teamId)" id="managerSide" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse bg-dark">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">      
            <li class="nav-item">
                <a class="nav-link  text-light" th:href="@{/@teams/}+${teamId}">팀정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/@teams/}+${teamId} + @{/user}">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">게시글관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">프로젝트관리</a>
            </li>
        </ul>
    </div>
</nav>