<html xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" th:fragment="delete_team(team)" id="delete-team-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="join_members_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="join_members_label">팀 해체</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:object="${project}">
                <form th:action="@{/teams/} + ${teamId} + @{/delete}" method="post" >
                    <p>정말로 팀을 해체하시겠습니까?</p>
                    <div style="font-size: 12px;">
                        <p>해체 할 경우 관련된 일정 및 게시글 등의 모든 내용이 <span class="text-danger">모두 완전히 삭제</span>됩니다.</p>
                        <p>❗ 해체 버튼 클릭시 모든 정보는 <span class="text-danger">복구</span>가 불가능합니다.</p>
                    </div>
                  
                    <div class="mt-1 mb-3">
                        <input class="form-control" id="copy-temaname" th:placeholder="|'${team.name}' 입력해주세요|"/>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger" id="copy-delete-teambtn" disabled>삭제</button>
                    </div>   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const pt = [[${team.name}]];

        $("#copy-temaname").on("change", (e)=>{
            if(e.target.value === pt){
                $(e.target).css("border","1px solid #198754");
                $("#copy-delete-teambtn").attr("disabled", false);
            }else{
                $(e.target).css("border","1px solid #dc3545");
                $("#copy-delete-teambtn").attr("disabled", true);
            }
        });
    </script>
</div>
</html>