<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 팀 만들기</title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="common/basicLayout :: basic_body(~{::main})">
    <main>
        <section style="margin-top : 5rem ">
            <div class="w-50 p-3 shadow-lg rounded bg-body" style="margin : 0 auto; max-width : 600px">
                <div class="text-center mb-3">
                    <a class="logo py-2" href="#" aria-label="Logo">Cob</a>
                    <h3>팀 만들기</h3>
                </div>
                <form th:action method="post" th:object="${team}" style="min-width : 200px; max-width : 400px; margin: 0 auto">
                    <div class="mb-3">
                        <label for="name" class="form-label">팀명</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Team name">
                        <div class="text-danger" th:errors="*{name}"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea style="min-height: 200px;" class="form-control" th:field="*{introduction}" id="floatingIntroduceTextarea"></textarea>
                        <label for="floatingIntroduceTextarea">소개말을 입력 해주세요</label>
                        <div class="text-danger" th:errors="*{introduction}"></div>
                    </div>
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">팀생성</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>