<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 로그인</title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="common/basicLayout :: basic_body(~{::main})">
    <main>
        <section style="margin-top : 5rem ">
            <div class="w-50 p-3 shadow-lg rounded bg-body" style="margin : 0 auto; max-width : 600px">
                <div class="text-center mb-3">
                    <a class="logo py-2" href="#" aria-label="Logo">Cob</a>
                    <h3>로그인</h3>
                </div>
                <form action="/login" th:action method="post" th:object="${loginFormData}" style="min-width : 200px; max-width : 400px; margin: 0 auto">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                        <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                        <input type="password" class="form-control" id="password" th:field="*{password}"  placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    <div class="text-muted mt-3 text-center" style="font-size : 12px">
                        아직 회원이 아니신가요? <a href="/join" class="text-reset">회원가입</a> 하러가기
                    </div>      
                </form>        
            </div>
        </section>
    </main>
</body>
</html>