<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 팀 프로젝트</title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="~{common/team/teamTemplate :: team_template(~{::main}, ${teamId})}">
<main>
    <section class="p-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col w-100" th:object="${project}">
                <div class="mb-3" style="min-width:200px" >
                    <h2>
                        <span class="text-muted fs-6">프로젝트명</span>
                        <span class="text-primary" th:text="*{projectTitle}"></span>
                    </h2>
                    <hr>
                    <div class="text-muted fs-6">프로젝트 소개</div>
                    <div class="p-3 mb-2 mt-1" style="border : 1px solid #dddddd" th:utext="${#strings.replace(project.projectIntroduction,nlString, '&lt;br /&gt;' )}"></div>
                    <div class="text-muted fs-6">기간</div>
                    <ul>
                        <li>
                            <span>시작일 : </span>
                            <span th:text="${#temporals.format(project.projectStartDate,'yyyy-MM-dd (E) HH시 mm분')}"></span>
                        </li>
                        <li>
                            <span>종료일 : </span>
                            <span th:text="${#temporals.format(project.projectEndDate,'yyyy-MM-dd (E) HH시 mm분')}"></span>
                        </li>
                    </ul>
                    <div class="text-muted fs-6 mt-3">프로젝트생성자</div>
                    <div class="mt-1">
                        <i class="bi bi-person-square"></i>
                        <span class="fw-bold text-success" th:text="*{memberNickname}"></span>
                        <small th:text="|(*{memberName})|"></small>
                    </div>
                    <hr/>
                    <div class="text-muted fs-6 mt-3 mb-1 d-flex justify-content-between align-items-end">
                        <div>
                            진행상황 <span class="text-primary fw-bold" th:text="*{projectProgress.getExplain()}"
                            th:classappend="${#strings.toString(project.projectProgress) == 'Requirements_Analysis' ? 'text-primary' :
                                    #strings.toString(project.projectProgress) == 'Design' ? 'text-success' :
                                    #strings.toString(project.projectProgress) == 'Programming' ? 'text-info' :
                                    #strings.toString(project.projectProgress) == 'Testing' ? 'text-warning' : 'text-danger'}"></span>
                        </div>
                        <div class="mt-3" th:if="${project.memberId == loginMember.memberId || teamLeader.id == loginMember.memberId}">
                            <span class="badge rounded-pill bg-dark" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#edit_progress_modal">변경</span>
                        </div>
                    </div>
                    <div class="progress mb-3" style="height: 40px;">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                            th:style="${#strings.toString(project.projectProgress) == 'Requirements_Analysis' ? 'width : 20%' :
                                    #strings.toString(project.projectProgress) == 'Design' ? 'width : 40%' :
                                    #strings.toString(project.projectProgress) == 'Programming' ? 'width : 60%' :
                                    #strings.toString(project.projectProgress) == 'Testing' ? 'width : 80%' : 'width : 100%'}"

                            th:classappend="${#strings.toString(project.projectProgress) == 'Requirements_Analysis' ? 'bg-primary' :
                                #strings.toString(project.projectProgress) == 'Design' ? 'bg-success' :
                                #strings.toString(project.projectProgress) == 'Programming' ? 'bg-info text-dark' :
                                #strings.toString(project.projectProgress) == 'Testing' ? 'bg-warning text-dark' : 'bg-danger'}">

                            <th:block th:text="${project.projectProgress.getExplain()}"></th:block>
                        </div>
                    </div>
                    <!--  가입현황 Modal 버튼  -->
                    <div class="mt-3 text-end" th:if="${project.memberId == loginMember.memberId || teamLeader.id == loginMember.memberId}">  
                        <hr/>
                        <a th:href="@{/teams/} + ${teamId} + @{/projects/} + ${project.projectId} + @{/edit}" class="btn btn-warning">수정</a>
                        <button type="button" class="btn btn-danger" id="delete-project-bt" data-bs-toggle="modal" data-bs-target="#delete-project-modal">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  가입현황 Modal  -->
    <div th:replace="project/modal/editProgressModal :: edit_progress(${project})"></div>
    <!--  삭제Modal  -->
    <div th:replace="project/modal/deleteProjectModal :: delete_project(${project})"></div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",()=>{
            let resultMsg = '[(${resultMsg})]';
            if(resultMsg){
                alert(resultMsg);
            }
        });

        const dpb = document.getElementById('delete-project-modal');
        if(dpb){
            let deleteProjectModal = new bootstrap.Modal(dpb, {
                keyboard: false
            });
            document.getElementById('delete-project-bt').addEventListener("click", ()=>{
                deleteProjectModal.show();
            });        
        }
      
        


    </script>
</main>

</body>
</html>