<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 팀 프로젝트</title>
    <link th:href="@{/assets/css/home.css}" href="./assets/css/home.css" rel="stylesheet" type="text/css" media="all">
</head>
<body th:replace="~{common/team/teamTemplate :: team_template(~{::main}, ${teamId})}">
<main>
    <section class="p-5">
        <div th:if="${#lists.size(projects) <= 0}">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <h3>프로젝트가 없습니다. 프로젝트를 만들어주세요!</h3>
                        <a th:href="@{/teams/} + ${teamId} + @{/projects/create}" class="btn btn-primary">프로젝트 만들기</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${#lists.size(projects) <= 0}">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col w-100" th:each="project : ${projects}" th:object="${project}">
                    <div class="card shadow-sm w-100 mb-3" style="min-width:200px" >
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between" >
                                <a th:href="@{/teams/}+${teamId}+@{/projects/}+${project.projectId}" class="link" th:text="*{projectTitle}"></a>
                            </h5>
                            <p class="card-text text-truncate" th:text="*{projectIntroduction}">Team introduction</p>
                            <div>
                                <span class="text-muted" th:text="${#temporals.format(project.projectStartDate,'yyyy-MM-dd HH시 mm분')}"></span>
                                ~
                                <span class="text-muted" th:text="${#temporals.format(project.projectEndDate,'yyyy-MM-dd HH시 mm분')}"></span>
                            </div>
                            <div class="progress mt-3" style="height: 30px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="${#strings.toString(project.projectProgress) == 'Requirements_Analysis' ? 'width : 20%' :
                                             #strings.toString(project.projectProgress) == 'Design' ? 'width : 40%' :
                                             #strings.toString(project.projectProgress) == 'Programming' ? 'width : 60%' :
                                             #strings.toString(project.projectProgress) == 'Testing' ? 'width : 80%' : 'width : 100%'}"
                                     >
                                    <th:block th:text="${project.projectProgress.getExplain()}"></th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",()=>{
            let resultMsg = '[(${resultMsg})]';
            if(resultMsg){
                alert(resultMsg);
            }
        });
    </script>
</main>

</body>
</html>