<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerV1 :: common_headerV1(~{::title},~{::link})">
    <title>Cob - 테스트 템플릿</title>
    <link th:href="@{/assets/css/home.css}"  rel="stylesheet" type="text/css" media="all">

</head>
<body th:fragment="team_template(main, teamId)">
<header th:replace="~{common/team/teamTop :: team_header}"></header>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{common/team/teamNav :: team_sidebar(${teamId})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <th:block  th:replace="${main}"></th:block>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<!-- <script th:src=@{/assets/js/team.js}></script> -->

</body>
</html>